{
  "extends": "stylelint-config-primer",
  "rules": {
    "at-rule-blacklist": [],
    "no-unsupported-browser-features": [true, {
      "browsers": "> 5% in KZ, last 2 firefox versions, last 2 chrome versions, last 2 safari versions",
      "severity": "warning"
    }],
    "selector-max-type": null,

    "scss/at-function-pattern": "^[a-z]+([a-z0-9-]+[a-z0-9]+)?$",
    "scss/at-import-no-partial-leading-underscore": true,
    "scss/at-import-partial-extension-blacklist": ["scss"],
    "scss/at-mixin-pattern": "^[a-z]+([a-z0-9-]+[a-z0-9]+)?$",
    "scss/dollar-variable-colon-space-after": "always",
    "scss/dollar-variable-colon-space-before": "never",
    "scss/dollar-variable-pattern": "^[_]?[a-z]+([a-z0-9-]+[a-z0-9]+)?$",
    "scss/percent-placeholder-pattern": "^[a-z]+([a-z0-9-]+[a-z0-9]+)?$"
  }
}